* {
/*  font-family: Open-sans, sans-serif;
*/}

body {
    background-color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

header {
  background-color: #194A40;
  display: flex;
  height: 100px;
  margin-bottom: -13px;
  justify-content: space-between;
}





/*HEADER LEFT SIDE*/

nav {
  background-color: #194A40;
}

ul {
  align-content: flex-start;
  display: flex;
  margin-left: -30px;
  margin-top: 60px;
}

li {
  color: #FFF;
  display: inline-block;
  font-size: 15px;
  margin-left: 9px;
}

.nav-icons {
  margin-left: 10px;
}






/*HEADER RIGHT SIDE*/

.user-menu {
  display:flex;
  flex-direction: column;
  margin-top: 208px;
  /*display: inherit;*/
}

.launch-pad {
display: inline-block;
/*align-content: center;*/
}

.user-sign-in {
  display: flex;
  margin-top: -75px;
  margin-right: 28px;
}

/*.admin-username {
  margin-top: -128px;
}*/

/*.user-sign-in p {
  padding-right: 28px;
  margin-top: -13px;
}*/

.logo {
}







/*DISPLAY CARDS*/

h1 {
  background-color: #FFF;
  padding: 15px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
  height: 100%;
  margin-left: 6px;
  margin-top: -22px;
  width:100%;
}

.cards {
  align-content: space-between;
  background-color: #FFF;
  box-shadow: 1px 1px 1px 0px grey;
  background-color: #FFF;
  box-shadow-color: #829FB3;
  display: inline-block;
  height: 316px;
  width: 210px;
  margin: 5px;
}

.card-top-1 {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .25)), url(assets/cacti.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 112px;
  width: 100%;
}

.card-top-2 {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .25)), url(assets/fern.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 112px;
  width: 100%;
}

.card-top-3 {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .25)), url(assets/monstera.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 112px;
  width: 100%;
}

.card-top-4 {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .25)), url(assets/palm.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 112px;
  width: 100%;
}

.card-top-5 {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .25)), url(assets/prettyplant.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 112px;
  width: 100%;
}

.card-top-6 {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .25)), url(assets/rubberplant.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 112px;
  width: 100%;
}

.card-top-7 {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .25)), url(assets/snakeplant.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 112px;
  width: 100%;
}

.card-top-8 {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(assets/succulents.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 112px;
  width: 100%;
}

.info-circle-button {
  margin: 10px;
  font-size: 45px;
}

.likes-text {
  text-align: right;
}

.likes {
  color: #FFF;
  font-size: 14px;
  margin-top: 12px;

}

.like-number {
  color: #FFF;
  font-size: 33px;
  margin-top: -12px;

}


p {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -7px;
}

.name {
  font-size: 13px;
}

.date {
  font-size: 10px;
}

.url {
  font-size: 8px;
  background-color: #D3D3D3;
  height: 25px;
  margin-left: 11px;
  margin-bottom: -5px;
  margin-top: 25px;
  padding: 5px;
  width: 84%;
}

.playlist {
  font-size: 10px;
  margin-top: 18px;
}

.playlist-name {
  font-size: 13px;
  margin-bottom: 11px;

}

.attachments {
  font-size: 11px;
  margin-bottom: -4px;
}

.attachments-number {
  color: #176340;
  font-size: 24px;
  margin-top: 8px;
}

@media screen and (max-width: 969px) {
  body {
    background: magenta;
    /*this is when card 4 slides down to the next row*/
  }
}

@media screen and (max-width: 485px) {
  body {
    background: yellow;
    /*this is when the 2 cards in the row become 1, and then I want the admin part of the page to center above the list item nav part on the left side of the page */
  }
}






